<!-- 引入基类模板 -->
{extend name='public/base' /}

<!-- 主体部分 -->
{block name='content'}
<style>
    .module-list-info {
        display: block;
        overflow: hidden;
    }

    .module-list-info .txt {
        float: left;
        max-width: 80%;
        overflow: hidden;
    }

    .module-list-info img {
        float: left;
        margin-right: 10px;
        border-radius: 10px;
    }

    .module-list-info .txt h3 {
        font-weight: 500;
        display: inline-block;
    }

    .module-list-info .txt p {
        font-size: 12px;
    }
</style>
<!-- 功能操作区一 -->
<div class="layui-form toolbar">
    <div class="layui-form-item">
        <div class="layui-inline">
            <form class="layui-form">
                <div class="layui-input-inline">
                    <input type="text" name="name" placeholder="请输入友链名称" autocomplete="off" class="layui-input">
                </div>
                <button class="layui-btn" lay-submit="" lay-filter="searchForm"><i class="layui-icon">&#xe615;</i>查询
                </button>
            </form>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline" style="width: auto;">
                {:widget('func/btnAdd',array('添加友链'))}
                {:widget('func/btnDAll',array('批量删除'))}
            </div>
        </div>
    </div>
</div>

<div class="layui-form">
    <table class="layui-table mt10" lay-even="" lay-skin="row">
        <colgroup>
            <col>
            <col width="100">
            <col width="120">
            <col width="120">
            <col width="200">
        </colgroup>
        <thead>
        <tr>
            <th>支付平台</th>
            <th>适用终端</th>
            <th>排序</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="module-list-info">
                    <img src="/static/admin/images/logo_mini.png" width="80" height="80">
                    <div class="txt">
                        <h3>支付宝即时到账</h3>
                        <p>支付宝网上交易时，买家的交易资金直接打入卖家支付宝账户，快速回笼交易资金.</p>
                    </div>
                </div>
            </td>
            <td>PC,WAP</td>
            <td>---</td>
            <td>---</td>
            <td>
                <div class="layui-btn-group">
                    <a href="/admin.php/pay/index/install/code/alipay.html"
                       class="layui-btn layui-btn-primary layui-btn-sm">安装</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="module-list-info">
                    <img src="/static/admin/images/logo_mini.png" width="80" height="80">
                    <div class="txt">
                        <h3>微信APP支付</h3>
                        <p>商户APP中集成微信SDK，用户点击后跳转到微信内完成支付</p>
                    </div>
                </div>
            </td>
            <td>APP</td>
            <td>---</td>
            <td>---</td>
            <td>
                <div class="layui-btn-group">
                    <a href="/admin.php/pay/index/install/code/wechat_app.html"
                       class="layui-btn layui-btn-primary layui-btn-sm">安装</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="module-list-info">
                    <img src="/static/admin/images/logo_mini.png" width="80" height="80">
                    <div class="txt">
                        <h3>微信JSAPI支付</h3>
                        <p>用户通过微信扫码、关注公众号等方式进入商家H5页面，并在微信内调用JSSDK完成支付</p>
                    </div>
                </div>
            </td>
            <td>WECHAT</td>
            <td>---</td>
            <td>---</td>
            <td>
                <div class="layui-btn-group">
                    <a href="/admin.php/pay/index/install/code/wechat_js.html"
                       class="layui-btn layui-btn-primary layui-btn-sm">安装</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="module-list-info">
                    <img src="/static/admin/images/logo_mini.png" width="80" height="80">
                    <div class="txt">
                        <h3>微信小程序支付</h3>
                        <p>用户在微信小程序中使用微信支付的场景唤起微信支付</p>
                    </div>
                </div>
            </td>
            <td>APPLETS</td>
            <td>---</td>
            <td>---</td>
            <td>
                <div class="layui-btn-group">
                    <a href="/admin.php/pay/index/install/code/wechat_mini.html"
                       class="layui-btn layui-btn-primary layui-btn-sm">安装</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="module-list-info">
                    <img src="/static/admin/images/logo_mini.png" width="80" height="80">
                    <div class="txt">
                        <h3>微信H5支付</h3>
                        <p>用户在微信以外的手机浏览器请求微信支付的场景唤起微信支付</p>
                    </div>
                </div>
            </td>
            <td>WAP</td>
            <td>---</td>
            <td>---</td>
            <td>
                <div class="layui-btn-group">
                    <a href="/admin.php/pay/index/install/code/wechat_mweb.html"
                       class="layui-btn layui-btn-primary layui-btn-sm">安装</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="module-list-info">
                    <img src="/static/admin/images/logo_mini.png" width="80" height="80">
                    <div class="txt">
                        <h3>微信扫码支付</h3>
                        <p>用户打开"微信扫一扫“，扫描商户的二维码后完成支付</p>
                    </div>
                </div>
            </td>
            <td>PC</td>
            <td>---</td>
            <td>---</td>
            <td>
                <div class="layui-btn-group">
                    <a href="/admin.php/pay/index/install/code/wechat_qr.html"
                       class="layui-btn layui-btn-primary layui-btn-sm">安装</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- 操作功能区二 -->
<script type="text/html" id="toolBar">
    {:widget('func/btnEdit',array('编辑'))}
    {:widget('func/btnDel',array('删除'))}
</script>

{/block}
 
