<form class="layui-form model-form" action="">
	<input name="id" id="id" type="hidden" value="{$info.id|default=0}">
	<div class="layui-form-item">
		<label class="layui-form-label">切图类型：</label>
		<div class="layui-input-block">
			{:widget('common/singleSelect',array('type|1|切图类型|name|id',config('config.image_cut_type'),isset($info['type']) ? $info['type'] : 0))}
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">宽度：</label>
		<div class="layui-input-block">
			<input name="width" id="width" value="{$info.width|default=''}" lay-verify="required" autocomplete="off" placeholder="请输入切图宽度" class="layui-input" type="text">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">高度：</label>
		<div class="layui-input-block">
			<input name="height" id="height" value="{$info.height|default=''}" lay-verify="required" autocomplete="off" placeholder="请输入切图高度" class="layui-input" type="text">
		</div>
	</div>
	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">备注：</label>
		<div class="layui-input-block">
			<textarea name="note" id="note" placeholder="请输入切图备注" class="layui-textarea">{$info.note|default=''}</textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">序号：</label>
		<div class="layui-input-block">
			<input name="sort" id="sort" value="{$info.sort|default=125}" lay-verify="required|number" autocomplete="off" placeholder="请输入序号" class="layui-input" type="text">
		</div>
	</div>
	{:widget('common/submitBtn',array('submit|立即保存,close|关闭', 1))}
</form>